<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Data Peminjaman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-nav [root]="component">Kembali</ion-nav> -->
    <ion-toolbar>
      <ion-title size="large">
        Data Peminjaman
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item (click)="logout()">
      <ion-icon slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
    <ion-button type="button" [routerLink]="['/peminjaman-tambah']" routerLinkActive="router-link-active" color="success" expand="block">Tambah Peminjaman</ion-button>
  </ion-list>

  <ion-card lines="inset" *ngFor="let peminjaman_value of peminjaman">
    <ion-card-header>
      <ion-card-title>{{ peminjaman_value.jenis_peminjaman }}</ion-card-title>
      <ion-card-subtitle>{{ peminjaman_value.kode_peminjaman }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Nama : {{ peminjaman_value.nama }} <br>
      NIM : {{ peminjaman_value.nim }} <br>
      Nama Lembaga : {{ peminjaman_value.nama_lembaga }} <br><br>
      <ion-button size="small" color="primary" slot="end" [routerLink]="['/peminjaman-edit', peminjaman_value.kode_peminjaman]" routerLinkActive="router-link-active">Edit</ion-button>
      <ion-button size="small" color="danger" slot="end" (click)="deletePeminjaman(peminjaman_value.kode_peminjaman)">Hapus</ion-button>
      
    </ion-card-content>

  </ion-card>
  
 
  </ion-content>
